<div class="flex h-screen">
  <div class="m-auto">

    <div class="text-center space-y-6">
      <h3 class="text-xl font-bold">Se connecter</h3>

      <div>
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Nom d'utilisateur"
          #userName
          required
        />
      </div>

      <div>
        <input
          type="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Mot de passe"
          #userPassword
          required
        />
      </div>

      <!-- Appel de l'API SignIn de AuthService -->
      <div>
        <input
          type="button"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          value="Se connecter"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>

      <div>
        <span class="text-gray-500">Ou</span>
      </div>

      <!-- Appel de l'API GoogleAuth de AuthService -->
      <div>
        <button
          type="button"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex justify-center items-center"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          <span class="ml-2">Se connecter avec Google</span>
        </button>
      </div>

      <div class="text-center mt-2">
        <span class="text-blue-500 cursor-pointer" routerLink="/forgot-password"routerLinkActive="active">Mot de passe oublié?</span>
      </div>
    </div>

    <div class="text-center mt-4">
      <span
        >Vous n'avez pas de compte?<span
          class="text-blue-500 cursor-pointer"
          routerLink="/register-user"routerLinkActive="active"
        >
          S'inscrire</span
        ></span
      >
    </div>

  </div>
</div>
