
<header aria-label="Site Header" class="bg-white">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <a class="block text-blue-600" href="/">
      <span class="sr-only">Home</span>
     <img src="assets/logo.png">
    </a>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Site Nav" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-black-500 transition hover:text-black-500/75" routerLink="/Accueil" routerLinkActive="active">Accueil</a>
          </li>

          <li>
            <a class="text-black-500 transition hover:text-black-500/75" routerLink="/box" routerLinkActive="active">Boite à outils</a>
          </li>

          <li>
            <a class="text-black-500 transition hover:text-black-500/75" routerLink="/event" routerLinkActive="active">Evenement</a>
          </li>

          <li>
            <a class="text-black-500 transition hover:text-black-500/75" routerLink="/publication" routerLinkActive="active">Publication</a>
          </li>

          <li>
            <a class="text-black-500 transition hover:text-black-500/75" routerLink="/membres" routerLinkActive="active">Membres</a>
          </li>


        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <a
            class="block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:blue"
            href="/" routerLink="/login" routerLinkActive="active"
          >
            Se connecter
          </a>

          <a
            class="hidden rounded-md bg-black-100 px-5 py-2.5 text-sm font-medium blue transition hover:blue/75 sm:block"
            href="" routerLink="/register" routerLinkActive="active"
          >
            S'enregister
          </a>
        </div>

        <button
          class="block rounded bg-black-100 p-2.5 text-black-600 transition hover:text-black-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>




<router-outlet></router-outlet>
<footer aria-label="Site Footer" class="bg-gray-100">
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
  >
    <div class="absolute top-4 right-4 sm:top-6 sm:right-6 lg:top-8 lg:right-8">
      <a
        class="inline-block rounded-full bg-blue-600 p-2 text-white shadow transition hover:bg-blue-500 sm:p-3 lg:p-4"
        href="#"
      >
        <span class="sr-only">Back to top</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>

    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center text-blue-600 lg:justify-start">
          <img src="assets/logo.png">
        </div>

        <p
          class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500 lg:text-left"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          consequuntur amet culpa cum itaque neque.
        </p>
      </div>

      <nav aria-label="Footer Nav" class="mt-12 lg:mt-0">
        <ul
          class="flex flex-wrap justify-center gap-6 md:gap-8 lg:justify-end lg:gap-12"
        >


          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Boite à outils
            </a>
          </li>

          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Evenements
            </a>
          </li>

          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Publications
            </a>
          </li>
          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Membres
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <p class="mt-12 text-center text-sm text-gray-500 lg:text-right">
      Copyright &copy; 2022. All rights reserved.
    </p>
  </div>
</footer>
